body {
}
div.row-parent h2 {
    background: white;
}

div.text-md-center h3 {
    color: aqua;
}

.speaker-items a {
    text-align: center;
    font: Bold 32px/38px Roboto;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}
/*.col-md-6 {
    border: solid black;
}*/
.designation {
    text-align: center;
    font-family: Italic;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

table.table {
    color: #FFFFFF;
}

.fa.fa-linkedin {
    background: #007bb5;
    color: white;
}
