@{
    ViewData["Title"] = "";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome To .Net Official Conference Website </h1>
        <br />
        <p>You get the chance to meet open minded professionals covering different roles in building a software project. From Business Analysts, Product Managers, Technical Leads, DevOps and QA Engineers, everyone can find valuable information and advice, learn new skills and practices.</p>
    </div>*@

<div class="container">
        <div class="heading-block">
            <div class="dots">
                <img src="~/img/pattern-dots-purple-100.png" />
            </div>
            <div>
                <p id="demo"></p>
            </div>

            <div class="logo">
                <img src="~/img/component_2.png" />
            </div>
            <h1 class="conference-heading-main">2020</h1>
            <div class="location">
                29 February 2020 | International Hotel, Iasi, Romania
            </div>
            <div class="register">
                <a href="http://dotnetdays.eventbrite.com" target="_blank" class="btn btn-large btn-main">
                    Register
                </a>
            </div>
            <div class="dots1">
                <img src="~/img/pattern-dots-purple-100.png" />
            </div>
            <div class="space">

            </div>
        </div>
</div>
<div class="align-content-md-center">
    <div class="row-parent">
        <h2 class="text-center mv title">Stay tuned! More speakers will be announced soon.</h2>
    </div>
</div>





